node-red_flows.json
[
    {
        "id": "26e9bd8b348d312c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b5185c736ca8fab",
        "type": "http in",
        "z": "26e9bd8b348d312c",
        "name": "",
        "url": "/new_balance",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 660,
        "wires": [
            [
                "9451f2cb2dc548b4"
            ]
        ]
    },
    {
        "id": "9451f2cb2dc548b4",
        "type": "function",
        "z": "26e9bd8b348d312c",
        "name": "contentinstance content settings",
        "func": "var data = '&lt;obj&gt;\\\n        &lt;int name=&quot;balance&quot; val=&quot;' + msg.payload.balance + '&quot;/&gt;\\\n        &lt;str name=&quot;url&quot; val=&quot;/mn-cse/mn-name/AE-EV-Chargers/USER-DATA/' + msg.payload.USER_ID +'/TRANSACATIONS&quot;/&gt;\\\n    &lt;/obj&gt;';\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 660,
        "wires": [
            [
                "a9b789b61f40bdb7"
            ]
        ]
    },
    {
        "id": "d8210a0c9d40ad54",
        "type": "http request",
        "z": "26e9bd8b348d312c",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 660,
        "wires": [
            [
                "541da604a76eb02d"
            ]
        ]
    },
    {
        "id": "541da604a76eb02d",
        "type": "http response",
        "z": "26e9bd8b348d312c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1150,
        "y": 660,
        "wires": []
    },
    {
        "id": "a9b789b61f40bdb7",
        "type": "base64",
        "z": "26e9bd8b348d312c",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 640,
        "y": 720,
        "wires": [
            [
                "7b550229340ec045"
            ]
        ]
    },
    {
        "id": "7b550229340ec045",
        "type": "function",
        "z": "26e9bd8b348d312c",
        "name": "url and method settings",
        "func": "var uri = 'http://127.0.0.1:8282/~/mn-cse/mn-name/sm_sensor_1/sm_DATA';\nmsg.url = uri;\nvar data = '<m2m:cin xmlns:m2m=\"http://www.onem2m.org/xml/protocols\">\\\n\t<cnf>create</cnf>\\\n\t<con>' + msg.payload + '</con>\\\n</m2m:cin>';\n\nmsg.method = 'post'\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = 'admin:admin';\nmsg.headers['Content-Type'] = 'application/xml;ty=4';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 660,
        "wires": [
            [
                "d8210a0c9d40ad54"
            ]
        ]
    },
    {
        "id": "19e0fcfde799b92d",
        "type": "http in",
        "z": "26e9bd8b348d312c",
        "name": "",
        "url": "/get_balance",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "93a677ee978747bc"
            ]
        ]
    },
    {
        "id": "b47a625915a8d7c8",
        "type": "http request",
        "z": "26e9bd8b348d312c",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 180,
        "wires": [
            [
                "2ac63ec817b6c6d6"
            ]
        ]
    },
    {
        "id": "2ac63ec817b6c6d6",
        "type": "http response",
        "z": "26e9bd8b348d312c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1290,
        "y": 180,
        "wires": []
    },
    {
        "id": "3fada1d4769382ef",
        "type": "http response",
        "z": "26e9bd8b348d312c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 300,
        "wires": []
    },
    {
        "id": "8a07fcfea92bf583",
        "type": "http in",
        "z": "26e9bd8b348d312c",
        "name": "",
        "url": "/USER_ID",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "63d24daacdd04a12"
            ]
        ]
    },
    {
        "id": "63d24daacdd04a12",
        "type": "function",
        "z": "26e9bd8b348d312c",
        "name": "contentinstance content settings",
        "func": "var data = '<obj>\\\n    <str name=\"url\" val=\"http://127.0.0.1:8282/~/mn-cse/mn-name/AE-EV-Chargers/USER-DATA/' + msg.payload.USER_ID + '/USER-INFO/la\"/>\\\n    <str name=\"url2\" val=\"http://127.0.0.1:8282/~/mn-cse/mn-name/AE-EV-Chargers/USER-DATA/'+ msg.payload.USER_ID +'/TRANSACATIONS/la\"/>\\\n    <str name=\"password\" val=\"'+ msg.payload.password + '\"/>\\\n    in=\"obix:Nil\" out=\"obix:Nil\" is=\"retrieve\"/>\\\n</obj>';\nglobal.set('user_id', msg.payload.USER_ID);\nmsg.payload = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 180,
        "wires": [
            [
                "2088d98760703ac0"
            ]
        ]
    },
    {
        "id": "2088d98760703ac0",
        "type": "base64",
        "z": "26e9bd8b348d312c",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 800,
        "y": 240,
        "wires": [
            [
                "851ac9989d4e1fb6"
            ]
        ]
    },
    {
        "id": "851ac9989d4e1fb6",
        "type": "function",
        "z": "26e9bd8b348d312c",
        "name": "url and method settings",
        "func": "var uri = 'http://127.0.0.1:8282/~/mn-cse/mn-name/sm_sensor_1/sm_DATA';\nmsg.url = uri;\nvar data = '<m2m:cin xmlns:m2m=\"http://www.onem2m.org/xml/protocols\">\\\n\t<cnf>verify</cnf>\\\n\t<con>' + msg.payload + '</con>\\\n</m2m:cin>';\n\nmsg.method = 'post'\nmsg.payload = data;\nmsg.headers = {};\nmsg.headers['X-M2M-Origin'] = 'admin:admin';\nmsg.headers['Content-Type'] = 'application/xml;ty=4';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 180,
        "wires": [
            [
                "b47a625915a8d7c8"
            ]
        ]
    },
    {
        "id": "679225d59ffbdd82",
        "type": "function",
        "z": "26e9bd8b348d312c",
        "name": "process",
        "func": "var inputMessage = msg.payload;\nvar outputMessage = inputMessage.replace(/\\\"/g, '');\nmsg.payload = outputMessage;\nglobal.set('globalbalance', outputMessage);\nglobal.set('check', \"True\");\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 300,
        "wires": [
            [
                "3fada1d4769382ef"
            ]
        ]
    },
    {
        "id": "93a677ee978747bc",
        "type": "json",
        "z": "26e9bd8b348d312c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 630,
        "y": 300,
        "wires": [
            [
                "679225d59ffbdd82"
            ]
        ]
    },
    {
        "id": "057e6e69f734a214",
        "type": "http in",
        "z": "26e9bd8b348d312c",
        "name": "",
        "url": "/get_balance2",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "c82252b63b2f8002"
            ]
        ]
    },
    {
        "id": "89ebd2249c020bda",
        "type": "http response",
        "z": "26e9bd8b348d312c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "ab09345546f8aa46",
        "type": "debug",
        "z": "26e9bd8b348d312c",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "182d10d4d80e2daa",
        "type": "function",
        "z": "26e9bd8b348d312c",
        "name": "to app",
        "func": "msg.payload = global.get('globalbalance');\nglobal.set('globalbalance', \"{balance:0}\");\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 400,
        "wires": [
            [
                "89ebd2249c020bda",
                "ab09345546f8aa46"
            ]
        ]
    },
    {
        "id": "42c061f84c348449",
        "type": "switch",
        "z": "26e9bd8b348d312c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "True",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "182d10d4d80e2daa"
            ],
            [
                "f46405298801e52d"
            ]
        ]
    },
    {
        "id": "c82252b63b2f8002",
        "type": "function",
        "z": "26e9bd8b348d312c",
        "name": "to app",
        "func": "msg.payload = global.get('check');\nglobal.set('check', \"false\");\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "42c061f84c348449"
            ]
        ]
    },
    {
        "id": "f46405298801e52d",
        "type": "function",
        "z": "26e9bd8b348d312c",
        "name": "not verify",
        "func": "msg.payload = \"false\"\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 460,
        "wires": [
            [
                "6bd8aac8f6725136",
                "d98722aeb2c5896c"
            ]
        ]
    },
    {
        "id": "6bd8aac8f6725136",
        "type": "http response",
        "z": "26e9bd8b348d312c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 480,
        "wires": []
    },
    {
        "id": "d98722aeb2c5896c",
        "type": "debug",
        "z": "26e9bd8b348d312c",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 520,
        "wires": []
    }
]